.footer {
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer a {
    text-decoration: none;
    color: var(--cor1);
}

.footer a:hover {
    color: #000000;
    font-weight: 500;
    transition: 1s;
}